launcher/launcher/launcher
*.test
*.test.exe
cmd/gotpm/gotpm
gotpm
gotpm.exe
files/pkg
files/src
files/go-tpm-tools
*.pkg.tar.xz
.vscode*
*.code-workspace
main
go.work
go.work.sum
kcc/wsd_kcc/target/*
kcc/kps_kcc/target/*
kcc/wsd_kcc/Cargo.lock
kcc/kps_kcc/Cargo.lock
