bazel-*
launcher/launcher/launcher
*.test
*.test.exe
cmd/gotpm/gotpm
gotpm
gotpm.exe
files/pkg
files/src
files/go-tpm-tools
*.pkg.tar.xz
.vscode*
*.code-workspace
main
go.work
go.work.sum
keymanager/target/
keymanager/workload_service/key_custody_core/target/
keymanager/key_protection_service/key_custody_core/target/
keymanager/Cargo.lock
keymanager/workload_service/key_custody_core/Cargo.lock
keymanager/key_protection_service/key_custody_core/Cargo.lock
