[Unit]
Description=Confidential Space Launcher
Wants=network-online.target gcr-online.target containerd.service
After=network-online.target gcr-online.target containerd.service

[Service]
ExecStart=/var/lib/google/cc_container_launcher --addr=${ATTEST_ENDPOINT}
# Shutdown the host after the launcher exits
ExecStopPost=systemctl poweroff
Restart=no
# RestartSec=90
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
