[Unit]
Description=ACPI Daemon
After=network.target

[Service]
ExecStart=/usr/share/oem/confidential_space/acpid -c /usr/share/oem/confidential_space/acpi/events -d
Restart=always

[Install]
WantedBy=multi-user.target
