[Unit]
Description=Container Cleanup on Service Stop
Wants=containerd.service container-runner.service
After=containerd.service container-runner.service
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/share/oem/confidential_space/container-cleanup-udp.sh
ExecStop=/usr/share/oem/confidential_space/container-cleanup.sh
ExecStopPost=/bin/echo "GDIE Container cleanup service stopped"
TTYPath=/dev/ttyS0
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=cloud-final.service
