# Container cleanup service.
[Unit]
Description=Container Cleanup on Service Stop
Wants=containerd.service container-runner.service
After=containerd.service container-runner.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "echo 'Container cleanup service started'"
ExecStop=/usr/share/oem/confidential_space/container-cleanup.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
