[Unit]
Description=Container Cleanup on Service Stop
Wants=containerd.service container-runner.service
After=containerd.service container-runner.service
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/echo "Container cleanup service started"
ExecStop=/usr/share/oem/confidential_space/container-cleanup.sh
TTYPath=/dev/ttyS0
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=multi-user.target
