[Unit]
Description=Confidential Space Launcher
Wants=network-online.target gcr-online.target containerd.service
After=network-online.target gcr-online.target containerd.service

[Service]
ExecStart=/usr/share/oem/confidential_space/cs_container_launcher
ExecStopPost=/usr/share/oem/confidential_space/exit_script.sh
Restart=no
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
