[Unit]
Description=Workload Service Daemon Container
Before=container-runner.service
After=network.target containerd.service
Requires=containerd.service

[Service]
Type=simple
Restart=always

ExecStart=/usr/share/oem/wsd/wsd_runner.sh
ExecStop=/usr/share/oem/wsd/exit_script.sh

[Install]
WantedBy=multi-user.target